.nuestros__barcos{
    color: #fff;
    text-transform: uppercase;
    font-family:var(--parrafo);
    letter-spacing: .8rem;
    background-color: var(--colorPrincipal);
    border-radius: .5rem;
    margin: 3rem;
    padding: 1rem;
    text-align: center;
    @include tablet{
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 0rem;
    }
    }

.contenedor__barco{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 1400px;
    margin: 0 auto;
    gap: 2rem;
    padding: 1rem;
    @include tablet{
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .barco{
        background-color: var(--colorSecundario);
        padding: 1rem;
        border-radius: 2rem;
        @include tablet{
            margin: 1rem;
        }
    .barco__video{
        height:434px;
        width: 100%;
        border-radius: 2rem;
    }
    .barco__imagen{
        width: 100%;
        border-radius: 2rem;}
    .barco__nombre{
        font-size: 4rem;
        text-align: center;
        color: white;}
    .barco__información{
        font-family:var(--parrafo);
        margin: 1rem 0;
        text-align: center;
        font-size: 1.5rem;}
    }
}

