.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorTerciario;
    margin-top: 3rem;
    @include tablet{
        display: grid;
        grid-template-columns: 1fr;
    }
    .informacion__footer{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 5rem;
        @include tablet{
            display: block;
            margin: 0 auto;
        }
        .informacion__contacto{
            display: flex;
            margin: 1.5rem;
            font-weight: bolder;
            gap: 1rem;
            @include tablet{
                justify-content: center;
                align-items: center;
                margin-bottom: 4rem;
            }
        }
    }
    .contacto__footer{
        display: grid;
        justify-content: center;
        align-items: center;
        .contactate{
            margin: 0 auto;
        }
        .form-control{
            height: 3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    .navegacion__footer{
        display: grid;
        justify-content: center;
        align-items: center;
        list-style: none;
        @include tablet{
            display: grid;
            justify-content: center;
            align-items: center;
        }
        .navegacion__enlace{
            margin: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $h1;
            font-size: 1.5rem;
        }
        a{
            text-decoration: none;
            color: #000;
            margin-right: 5rem;
        }
        }
    }