.nosotros{
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
    background-color: #000;
    color: #000;
    }
    .imagen_barco{
        margin: 0 auto;
        height: 40rem;
        width: 70rem;       
        padding-bottom: 2rem;
        @include tablet{
            height: 50%;
        }
    }
    .nosotros__texto{
        font-family: var(--parrafo);
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem;
        max-width: 1400px;
        margin: 0 auto;
    }
    hr{
        width: 90%;
        height: 1rem;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .nosotros__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        background-color: #05036d;
        padding: 2rem;
        margin: 0.5rem;
        @include tablet{
            display: grid;
            grid-template-columns: repeat(1, auto);
        }
        .grid__imagen{
            width: 50%;
            display: block;
            margin: 0 auto;
            @include tablet{
                display: block;
                margin: 0 auto;
            }  
        }
        .nosotros__grid__texto{
            color:white;
            font-size: 1.5rem;
            text-align: center;
            @include tablet{
                text-align: center;
            }
        }
    }

    .contenedor_mision{
        text-align: center;
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 2rem;
        strong{
            color: var(--colorPrincipal);
            font-weight: bolder;
        }
        .mision__titulo{
            font-family: var(--titulo);
            font-size: 3rem;
            font-weight: bolder;
            color: #000};
        }
        .mision__texto{
            font-family: var(--parrafo);
            font-size: 1.8rem;
            max-width: 1000px;
            margin: 0 auto;
        }
        .valores__titulo{
            text-align: center;
            font-family: var(--titulo);
            font-size: 3rem;
            font-weight: bolder;
            color: #000;
            margin-top: 2rem;
        }
        .contenedor_valores{
            display: grid;
            grid-template-columns: repeat(4, auto);
            justify-content: center;
            align-items: center;
            gap: 5rem;
            margin-top: 1.5rem;
            @include tablet{
                display: grid;
                grid-template-columns: 1fr;
                gap: 0.4rem;
            }
            .valor{
                text-align: center;
                font-family: var(--parrafo);
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
        }            

