:root{
    --colorPrincipal: #05036d;
    --colorSecundario: #0096c7;
    --negro: #000;
    --blanco: #fff;
    --colorTerciario: #ade8f4;
    --h1: 'Abel', sans-serif;
    --titulo: 'Istok Web', sans-serif;
    --parrafo: 'Pavanam', sans-serif;
}