*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorPrincipal: #05036d;
    --colorSecundario: #0096c7;
    --negro: #000;
    --blanco: #fff;
    --colorTerciario: #ade8f4;
    --h1: 'Abel', sans-serif;
    --titulo: 'Istok Web', sans-serif;
    --parrafo: 'Pavanam', sans-serif;
}

/*HEADER*/

.barra{
    background-color: var(--colorTerciario);
    min-height: 125px;
    margin-bottom: 2rem ;
}
@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.navegacion{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--negro);
    font-family: var(--h1);
    text-decoration: none;
    list-style: none;
    
    
}

@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
        margin-right: 2rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--negro);
        font-family: var(--h1);
        list-style: none;
        text-decoration: none;
    }
}
.navegacion__enlace{
    text-decoration: none;
    color: #000;
}

.navegacion__enlace:hover{
    background-color: var(--blanco);
}


/*INICIO*/

.inicio{
    max-width: 1700px;
    margin: 0 auto;
}

.descripcion__incio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 5rem;
}


.descripcion__parrafo{
    font-family: var(--parrafo);
    font-weight: 200;
    font-size: 1.5rem;
    text-align: justify;
}

@media screen and (max-width: 1100px) {
    .descripcion__incio{
        display: grid;
        grid-template-columns: 1fr;
        margin: 2rem;
        justify-content: center;
    }
    .descripcion__parrafo{
       text-align: center;
    }

}

.descripcion__imagen{
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
}

strong{
    color: var(--colorPrincipal);
    font-weight: bolder;
}

.section_image{
    display: flex;
    justify-content: center;
}
.videos__descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;

}

@media (max-width: 768px) {
    .videos__descripcion{
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 2rem;
    margin: 0 auto;
    }
}

.video{
    width: 100%;  
}


/*IMAGENES PRODUCTOS/BARCOS */
.nuestros__barcos{
    color: #fff;
    text-transform: uppercase;
    font-family:var(--parrafo);
    letter-spacing: .8rem;
    background-color: var(--colorPrincipal);
    border-radius: .5rem;
    margin: 3rem;
    padding: 1rem;
    text-align: center;
}

@media (max-width:768px ) {
    .nuestros__barcos{
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 0rem;
        
    }

}


.contenedor__barco{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
} 

@media (max-width:768px ) {
    .contenedor__barco{
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
}

.barco{
    background-color: var(--colorSecundario);
    padding: 1rem;
    border-radius: 2rem;
} 

iframe{
    height: 600px;
    border-radius: 2rem;
}

.barco__imagen{
    width: 100%;
    border-radius: 2rem;
} 

.barco__nombre{
    font-size: 4rem;
    text-align: center;
    color: white;
}

.barco__información{
    font-family:var(--parrafo);
    margin: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
}

.sectionwrapper{
    width: 100%;
    padding-top: 3rem;
}


/*NOTICIAS*/


.contenedor__noticia{
    gap: 2rem;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}


.noticia{
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    border: 0.5px black dashed;
    background-color: #05036d;
    border-radius: 2rem;
    padding:1rem;
}

.info__noticia{
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-size: 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
    color: #fff;
}

.img_noticia{
    width: 50%;
    border-radius: 2rem;
}

@media (min-width:768px ) {
    .contenedor__noticia{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 0 auto;
    }

    .img_noticia{
        width: 100%;
    }
}

/*CONTACTO*/

.formu{
    margin: 2rem;
}

@media (min-width: 768px) {
    .formulario{
    width: 500px;
    margin: 0 auto;
    background-color: var(--colorTerciario);
    padding: 1rem;
    }
}

.formulario{
    background-color: var(--colorTerciario);
    padding: 1rem;
}

.descripcion__formulario{
    text-align: center;
    color: var(--colorPrincipal);
}

.descripcion__formulario h1{
    font-family: var(--titulo);
}

.descripcion__formulario p{
    font-family: var(--parrafo);
    font-size: 1.5rem;
    color: var(--negro);
    margin-bottom: 2rem;
}
/*SOBRE NOSOTROS*/

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: #000;
    color: #000;
}

.imagen_barco{
    margin: 0 auto;
    height: 60rem;
    padding-bottom: 2rem;
}

.nosotros__texto{
    font-family: var(--parrafo);
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    max-width: 1600px;
    margin: 0 auto;
}

.nosotros__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    background-color: #05036d;
    padding: 2rem;
    margin: 0.5rem;
}

.grid__imagen{
    width: 50%;
   
}

.nosotros__grid__texto{
    color:white;
    font-size: 1.5rem;
}

@media (max-width:768px ) {
    .nosotros__grid{
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .grid__imagen{
        display: block;
        margin: 0 auto;
    }

    .nosotros__grid__texto{
        text-align: center;
    }

    .imagen_barco{
        height: 50%;
    }
}

/*FOOTER*/

.footer{
  margin-top: 2rem;
  background-color: var(--colorTerciario);
  width: 100%;
}


.informacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width:768px ) {
    .informacion{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.1rem;
    }
}

.direccion{
    width: 40rem;
    height: 15rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .direccion{
        width: 100%;
        margin: 0 auto;
    }
}

.informacion__contacto{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
}

.derechos{
    font-family: var(--parrafo);
    margin-left: 1rem;
    color:var(--negro);
    font-weight: bolder;
}